[submodule "zAssemblerMacros"]
	path = zAssemblerMacros
	url = C:\\Users\\Dave\\My Stuff\\GIT Repositories\\zAssemblerMacros
[submodule "zRexxUtilities"]
	path = zRexxUtilities
	url = C:\\Users\\Dave\\My Stuff\\GIT Repositories\\zRexxUtilities
